* {font-family: 'Poppins', sans-serif;}
html {width: 100%;height: 100%;}
body {margin: 0;width: 100%;height: 100%; background-color: green;}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/*==Left==*/

.border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 99%;
}
.border-2 {
    background-color: #cf334d;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 97%;
    border-radius: 0px 0px 10px 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.39);
    border-left: 2px solid rgba(0, 0, 0, 0.39);
    border-right: 2px solid rgba(0, 0, 0, 0.39);
    box-shadow: 8px -5px 5px -6px rgba(0, 0, 0, 0.2) inset, 
              -2px -1px 2px 0px rgba(0, 0, 0, 0.2) inset;
}

.left-div {
    background-color: #cf334d;
    width: 450px;
    height: 700px;
    position: relative;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 6px 0px 0px #8a1e39;
}

.top-all {
    width: 100%;
    height: 20%;
    margin: 0;
}

.top-border {
    width: 97.5%;
    border-radius: 10px 10px 0px 10px;
    border-right: 2px solid rgba(0, 0, 0, 0.39);
    box-shadow: 8px -5px 5px -50px rgba(0, 0, 0, 0.2) inset, 
              -2px 10px 2px 0px rgba(0, 0, 0, 0.2) inset;
}

.top-top {
    position: absolute;
    width: 100%;
    height: 120px;
    display: flex;
}
.top {
    display: flex;
}

.lights {
    position: relative;
    width: 60%;
    height: 118px;
    display: flex;
    background: -webkit-linear-gradient(0deg, transparent -10px, #e7405c 0px), -webkit-linear-gradient(135deg, transparent 50px, #e7405c 10px), -webkit-linear-gradient(0deg, transparent -10px, #e7405c 0px), -webkit-linear-gradient(0deg, transparent -10px, #e7405c 0px);
    background-position: bottom left, bottom right, top right, top left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 20px 0px 0px 0px;
}

.big-ball-light {
    background-color: white;
    margin: 20px 0px 0px 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 1px 3px rgb(51, 51, 51)
}

.big-ball-light-blue {
    background-image: radial-gradient(#ffffff, #63e6f7, #24d7ed 60%);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 2px rgb(51, 51, 51);
    animation: blink 1.5s infinite;
}

@keyframes blink {
    0% {background-image: radial-gradient(#ffffff, #63e6f7, #1b9db9);}
    100% {background-image: radial-gradient(#bdbdbd, #4fb2be, #0c4d67);}
}

.tri-lights {
    width: 55%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tri-lights div {
    margin: 8px 5px 5px 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 2px rgb(51, 51, 51);
}

.light-1 {background-image: radial-gradient(#ffffff, #fd8d8d, #ff0000 60%);}
.light-2 {background-image: radial-gradient(#ffffff, #faea10, #cddb00 60%);}
.light-3 {background-image: radial-gradient(#ffffff, #68fc74, #00ff22 60%);}

.space-1 {
    position: relative;
    background-color: #e7405c;
    width: 40%;
    height: 59px;
    border-radius: 0px 20px 0px 0px;
    border-bottom: 2px solid #8a1e39;
}
.space-2 {
    width: 280px;
    height: 122px;
    background: -webkit-linear-gradient(0deg, transparent -10px, #8a1e39 0px), -webkit-linear-gradient(135deg, transparent 50px, #8a1e39 10px), -webkit-linear-gradient(0deg, transparent -10px, #8a1e39 0px), -webkit-linear-gradient(0deg, transparent -10px, #8a1e39 0px);
    background-position: bottom left, bottom right, top right, top left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 20px 0px 0px 0px;
}
.space-3 {
    background-color: #8a1e39;
    width: 170px;
    height: 61px;
    border-radius: 0px 20px 0px 0px;
}

/*--screen--*/

.screen-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75%;
}

.screen-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dedede;
    width: 80%;
    height: 90%;
    border-radius: 20px;
    box-shadow: 0px 0px 1px 3px rgb(51, 51, 51)
}

.screen {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #577c74;
    width: 85%;
    height: 78%;
    border-radius: 10px;
    box-shadow: inset 2px 8px 11px -7px;
    border: 2px solid rgb(0, 0, 0);
    transition: 0.5s ease-in;
}

.poke-ball {
    background: url("images/pokeball.png");
    background-repeat: no-repeat;
    background-position: top right;
}

.poke-image {
    width: 260px;
    min-width: 100px;
}

.screen-button-top {
    display: flex;
    width: 100%;
    height: 11%;
}
.button-screen-1 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.button-screen-2 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.ball {
    background-color: #e60000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 2px;
    margin: 0px 20px 0px 20px;
}

.screen-button-botton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 11%;
}

.screen-space {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.hr {
    width: 50%;
}

hr {
    width: 80px;
    border: 2.5px solid;
    border-radius: 20%;
}

.button-screen {
    background-color: #8b0303;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 3px;
    animation: light 2.1s infinite;
}

@keyframes light {
    0% { background-color: #e41111; }
    100% { background-color: #8a0606; }
}

.buttons {
    width: 100%;
    height: 5%;
}

.two-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10px;
}

.two-button button {
    width: 70px;
    height: 8px;
    box-shadow: 3px 3px 2px 2px rgb(41, 41, 41);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button-1 {
    margin-right: 25px;
    background: red;
}
.button-2 {
    margin-left: 25px;
    background: rgb(0, 110, 255);
}

.button-1:active {
    box-shadow: 0 0 0 0 #000, 0px 0px 0px #000;
    transform: translate(5px, 3px);
    opacity: 1;
    transition: 0.08s linear;
    background: rgb(196, 0, 0);
}
.button-2:active {
    box-shadow: 0 0 0 0 #000, 0px 0px 0px #000;
    transform: translate(5px, 3px);
    opacity: 1;
    transition: 0.08s;
    background: rgb(0, 91, 209);
}

.botton-pokedex {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-screen-div {
    width: 65%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-screen {
    background-color: #669187;
    width: 80%;
    height: 90%;
    border-radius: 10px;
    border: 3px solid rgba(31, 31, 31, 0.74);
    box-shadow: inset -3px 3px 14px -6px;
}

.extra-button {
    width: 35%;
    height: 100%;
}

/*===Middle==*/

.middle-div {
    background-color: rgb(255, 0, 0);
    width: 50px;
    height: 700px;
    border-bottom: 1px solid rgba(96, 6, 6, 1);
    border-top: 1px solid rgba(96, 6, 6, 1);
    border-left: 2px solid rgba(0, 0, 0, 0.205);
    border-right: 2px solid rgb(0, 0, 0);
    background: rgb(193, 12, 12);
    background: linear-gradient(90deg, rgb(221, 45, 74) 0%, rgb(236, 127, 127) 35%, rgba(231, 64, 92, 1) 58%, rgb(150, 40, 59) 100%);
    box-shadow: 0px 5px 0px 0px #660202;
    border-radius: 10px 10px 10px 10px;
}
.line-1 {width: 100%;height: 8.5%;border-bottom: 1px solid rgba(96, 6, 6, 1);}
.line-2 {width: 100%;height: 8.4%;}
.line-3 {width: 100%;height: 70%;border-bottom: 1px solid rgba(96, 6, 6, 1);border-top: 1px solid rgba(96, 6, 6, 1);}

/*==Right==*/

.right-div-space {
    width: 450px;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.border-left {
    background: url("images/pokeball.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-color: #cf334d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 94.9%;
    height: 96.7%;
    border: 2px solid rgba(0, 0, 0, 0.39);
    border-radius: 0px 1px 20px 20px;
    box-shadow: inset 0px 0px 14px -7px;
}

.right-div {
    background-color: #cf334d;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 580px;
    border-radius: 0px 1px 20px 20px;
    box-shadow: 0px 6px 0px 0px #8a1e39;
}

.space-top {
    display: flex;
    width: 55%;
    height: 60px;
}
.quad {
    background-color: #cf334d;
    width: 800px;
    height: 100%;
}

.tri {
    width: 15%;
    height: 0px;
    border-style: solid;
    border-width: 61px 0px 0px 102px;
    border-color: transparent transparent transparent #cf334d;
}

.none {
    width: 100%;
    height: 8.4%;
}

.right-screen {
    background-color: #669187;
    width: 90%;
    height: 35%;
    border-radius: 10px;
    border: 5px solid rgb(61, 61, 61);
    box-shadow: inset 0px 0px 3px 1px rgb(51, 51, 51);
}

.stat-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}


.stats-number {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 10%;
}

.stat-number {
    margin: 5px;
    font-weight: bold;
}

.stat-desc, .stat-number {
    width: 13%;
}

.stat-desc {
    color:  rgb(255, 255, 255);
    font-weight: bold;
    margin: 5px;
    transition: color 0.5s ease-in-out;
}
.stat-bar {
    width: 76%;
}

.bar-outer {
    background-color: rgba(255, 255, 255, 0.397);
    display: flex;
    width: 100%;
    height: 0.4em;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
    transform: rotate(-90deg) scaleX(1.5);
}

.bar-inner {
    background-color: rgb(40, 116, 2);
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

#base-stats {
    transition: color 0.5s ease-in-out;
}

.stats {
    width: 100%;
    height: 100%;
}

.stats-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 20%;
}

.stats-bar {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 70%;
}

.pokemon-name {
    background-color: #669187;
    border-radius: 30px 10px 30px 10px;
    margin: 8px;
    width: 48%;
    height: 80%;
    border: 3px solid rgba(31, 31, 31, 0.74);
    box-shadow: inset  2px 48px 10px -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#data {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tipos {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    padding: 7px 0.01px;
}

#types {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.type {
    color: white;
    padding: 8px 20px;
    border-radius: 20px;
    margin: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: capitalize;
    border: 3px solid rgba(31, 31, 31, 0.74);
}

#search:focus {
    outline: none;
}

#search {
    color: white;
    background: none;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    width: 60%;
    text-transform: capitalize;
    text-align: center;
}

#number {
    color: white;
    font-weight: bold;
    background-color: #6d6d6d;
    border-radius: 10px;
    margin: 8px;
    width: 15%;
    height: 80%;
    border: 3px solid rgba(31, 31, 31, 0.74);
    box-shadow: inset  2px 48px 10px -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poke-middle {
    margin: 10px;
    width: 100%;
    margin: 15px;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-duo {
    width: 100%;
    margin-top: 10px;
    height: 5%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.line-duo-1 {
    background-color: rgb(36, 36, 36);
    margin: 0px 10px 0px 10px;
    width: 15%;
    height: 30%;
    border-radius: 50px;
}

.base-status {
    font-weight: bold;
    background-color: #6d6d6d;
    border-radius: 10px 30px 10px 30px;
    margin: 8px;
    width: 28%;
    height: 6%;
    border: 3px solid rgba(31, 31, 31, 0.74);
    box-shadow: inset  2px 48px 10px -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}